
.citySDKHomeLogoBanner {
  width: 100%;
  height: auto;
}

.cenSidebarNav > .page-header h1 {
  font-weight: 400;
  color: #777;
  font-size: 24px;
  line-height: 1.65;
}

.cenSidebarNav .nav-sidebar li a {
  font-size: 0.9em;
}

.breadcrumb {
  background-color: #fcfcfc;
}

.validating-variable-code-alert, .error-variable-code-alert {
  margin-top: 16px;
  margin-bottom: 16px;
  display: none;
}

.cenVariableDetails {
  margin-top: 16px;
  margin-bottom: 16px;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 0.9em;
}

#container-input-warning-label {
  display: none;
}

/* Core Text Styles Alterations */

.cenCoreStyles ol > li {
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
}

.cenCoreStyles ol > li > ol > li {
  font-size: 90%;
  font-weight: 400;
}




/* Icon found from loading screen on http://www.sbcounty.gov/cao/budget/ */
.loading-icon {
  background: url("../img/Loading.gif") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 50px;
  margin: auto;
  display: inline-block;
}

.loading-icon-initialstate {
  display: none;
}

header.header {
  margin-bottom: 70px;
}

/* Drop down style */
#table-selector {
  padding: 5px;
  border: 1px solid #ccc;
  height: 34px;
}

/* Table converts to one column in mobile sized display */
#output {
  overflow-x: auto;
  display: block;
}

#output td {
  text-align: left;
  display: block;
  /* width: 95%; */
  padding-top: 5px;
  padding-bottom: 5px;
}

#output th {
  text-align: left;
  display: block;
  width: 87% !important;
  padding-right: 25px;
}

#output th:last-child {
  margin-bottom: 5px;
}

#output td {
  background-color: white;
}

#output td {
  background-color: #f7f7f7;
  border-top: 1px solid #337ab7;
}

#output td > div:before {
  content: attr(data-th) ": ";
  display: inline-block;
  width: 100px;
}

#output .centeredCellButton {
  text-align: center;
}
.submitAlert {
  margin-top: 30px;
  margin-bottom: 30px;
}

.select-center {
  display: block;
  margin: 0 auto;
  float: none;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

/* Gallery Examples */
.galleryItemsGridView {

}

.galleryInputStripe {
  overflow: hidden;
  padding: 5px 5px 0 5px;
}

.galleryInputGroup .galleryInputStripe:nth-child(odd) {
  background: rgb(242, 242, 242);
}

.galleryInputStripe > label {
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}


.galleryItemsGridView .galleryItem {
  max-width: 370px;
}

.galleryItemType {
  float: right;
}

.galleryItemDesc {
  clear: both;
}

.galleryItemLinks {
  background: #f1f8fb;
  border: 1px solid #bce8f1;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 3px;
  clear: both;
}

.galleryItemLinks > ul {
  margin-bottom: 0;
  padding-left: 10px;
}

.galleryItemLinks > ul > li {
  list-style-type: none;
  margin-bottom: 12px;
}

.galleryItemLinks > ul > li:last-child {
  margin-bottom: 0;
}

.galleryItemEmblem {
  float: right;
  margin: 0 0 10px 10px;
  max-width: 120px;
}

.galleryFilterControls input[type="checkbox"] {
  border-top: none;
  float: right;
  clear: both;
  height: 24px;
  width: 24px;
}

.galleryFilterControls input[type="checkbox"] + label {
  float: left;
  height: 34px;
}

.galleryFilterControls h3 {
  clear: both;
}

/* End Gallery Example */


@media (min-width: 480px) {
  #output th, #output td {
    text-align: inherit;
    display: table-cell;
    width: 5% !important;
  }
  #output th:nth-child(5), #output td:nth-child(5) {
    text-align: inherit;
    display: table-cell;
    width: 30% !important;
  }
  #output td {
    background-color: inherit;
  }
  #output td {
    background-color: inherit;
    border-top: thin solid #ddd;
  }
  #output td > div:before {
    display: none;
  }

  .select-center {
    margin: inherit;
    float: inherit;
  }
}

/* Open Opportunity Project */
.openOpportunityBadge {
  background: url(../img/open-opportunity-hero.jpg) #112e51;
  background-height: 100%;
  color: white;
  text-align: center;
  padding: 15px 30px;
  margin-bottom: 10px;
  background-position: bottom;

  h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: "Merriweather", "Georgia", "Times New Roman", serif;
    line-height: 1.3;
    margin-bottom: .5em;
    margin-top: 0;
    a, a:visited {
      color: white;
    }
    a:hover {
      color: white;
      text-decoration: underline;
    }
  }

  p {
    font-family: "Merriweather", "Georgia", "Times New Roman", serif;
  }
  .btn {
    margin-bottom: 10px;
    min-width: 90%;
  }
}

.openOpportunityBadgeHP {
  overflow: hidden;
}

.openOpportunityBadgeHP > .openOpportunityBadge {
  min-height: 310px;
  overflow: hidden;
  display: block;

}


// Status / Monitor Page
.upr-status-icon {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 10px 10px 20px;
}

.upr-status-icon > .glyphicon {
  padding: 20px;
  border-radius: 100px;
  margin-right: 10px;
}

.upr-status-icon > .glyphicon-refresh  {
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}

.upr-status-log-details {
  display:none;
}

.upr-uptime-chart {
  width: 100%;
  overflow: hidden;
}

#socrataExampleInputForm {
  .form-group {
    width:100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  label {
    min-width: 19%;
    margin-right: 1%;
  }

  .form-control {
    min-width:78%;
  }

  .btn-primary {
    margin-bottom: 30px;
  }
  .help-block {
    text-align:right;
  }
}

#containerGeographyControlsGet {
  margin-bottom: 10px;
  margin-top: 10px;
}

#containerGeographyControlsSet {
  margin-bottom: 10px;
  margin-top: 10px;
}

// Youtube iFrame
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}
// End Youtube iFrame

.splash{
  height:550px;
  width: 100%;
  opacity: 0.25;
}

.panel-info>.panel-heading {
    color: #f9f9f9;
    background-color: #323a45;
    border-color: #1d2127;
}

.panel-info {
    border-color: #cccccc;
}

input[type=radio]:checked+label::before {
    box-shadow: 0 0 0 2px #fff,0 0 0 4px #5b7da3;
}
input[type=checkbox]:checked+label::before, input[type=radio]:checked+label::before {
    background-color: #5b7da3;
}
input, input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="tel"], input[type="number"], input[type="search"], input[type="file"], input[type="date"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea, select {
    margin: 0;
    max-width: 100%;
}

.usa-button, .usa-button-primary, .usa-button:visited, .usa-button-primary:visited, button, [type="button"], [type="submit"], [type="reset"], [type="image"] {
    height: 34px;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #5b7da3;
}

.btn-primary {
    background-color: #5b7da3;
}

.pages-home .usa-hero h1 {
    font-family: Helvetica;
    font-size: 4.4em;
    letter-spacing: 0.5em;
}

.pages-home .usa-hero strong {
    font-size: 1em;
    line-height: 1em;
}
.logotype{
  letter-spacing: 0.15em;
}

.powered-by li{
  margin-right: 5em;
}

.powered-by li:last-child{
  margin-right: 0;
}

.dropdown-menu {
  background-color: #323a45;
  border: none;
}

.dropdown-menu li a{
  color: #f9f9f9;
}

.dropdown button, .dropdown button:hover, .dropdown button:focus, .dropdown button:active{
  background-color: transparent;
  color: #f9f9f9;
  outline: 0;
  -webkit-box-shadow:none;
  box-shadow: none;
  font-size: 1em;
  font-weight: 600;
}

.app-links .dropdown a:hover{
  background-color: transparent;
}
.dropdown ul{
  display: none;
}
