{% assign galleryItem = site.data.gallery[include.id] %}


<!-- {{ include.id }} -->
<div class="galleryItem galleryShowThisItem" data-project="{{ galleryItem.project_type | downcase }}"
     data-module="{% for modules in galleryItem.data_module %}{{ modules.module }} {% endfor %}">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <p class="galleryItemType"><span class="label label-primary">{{ galleryItem.project_type }}</span></p>

            <h3 class="panel-title">{{galleryItem.title}}</h3>
        </div>
        <div class="panel-body">
            <div class="galleryItemDesc">
                <img src="{{ site.baseurl }}/static/img/{{ galleryItem.thumbnail }}"
                     alt="{{ galleryItem.thumbnail_alt }}"
                     class="galleryItemEmblem"/>

                <p>{{galleryItem.description}}</p>
            </div><!-- end galleryItemDesc -->
            <div class="galleryItemLinks">
                <ul class="">
                    {% for item_link in galleryItem.item_links %}
                    <li>
                        {% if item_link.linktype == 'internal' %}
                        <a href="{{ site.baseurl }}/{{ item_link.link }}">
                            {% else %}
                            <a href="{{ item_link.link }}" target="_blank">
                                {% endif %}

                                {% if item_link.type == 'github' %}
                                <i class="githubimage fa fa-github"></i>
                                {% elsif item_link.type == 'link' %}
                                <i class="glyphicon glyphicon-link"></i>
                                {% else %}
                                <a href="{{ item_link.link }}">
                                    {% endif %}

                                    {{item_link.title}}
                                </a>
                            </a>
                            {% endfor %}

                </ul>
            </div><!-- end galleryItemLinks -->
        </div><!-- end panel-body -->


        <div class="panel-footer">Modules: {% for galleryItemModule in galleryItem.data_module %}
            {% for module in site.data.modules %}
            {% if galleryItemModule.module == module.id %}
            {% if module.internal_module == true %}
            <a href="{{ site.baseurl }}/{{ module.documentation_link }}" class="btn btn-xs btn-info">{{ module.short_title }}</a>
            {% else %}
            <a href="{{ module.documentation_link }}" class="btn btn-xs btn-default">{{ module.short_title }}</a>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div><!-- end panel -->
</div><!-- end galleryItem -->