---
layout: default
title: Gallery
---

<div class="page-header">
    <h1>Gallery
        <small>Modules, Code Examples, and Projects</small>
    </h1>
</div>

<!-- Filter Controls -->

<div class="panel panel-info galleryFilterControls">
    <div class="panel-heading">
        <h3 class="panel-title">Choose What to Show</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <h3><label>Types</label></h3>

                <div class="galleryInputGroup">

                    <div class="galleryInputStripe">
                <input type="checkbox" name="projects" value="project" checked="checked" id="galleryProjectsProject">
                        <label for="galleryProjectsProject">Projects</label></div>

                    <div class="galleryInputStripe">
                <input type="checkbox" name="projects" value="example" checked="checked" id="galleryProjectsExample">
                        <label for="galleryProjectsExample">Code Examples</label></div>

                    <div class="galleryInputStripe">
                <input type="checkbox" name="projects" value="module" checked="checked" id="galleryProjectsModule">
                        <label for="galleryProjectsModule">Modules</label></div>
                </div><!-- end galleryInputGroup -->
            </div><!-- col-lg-4 -->
            <div class="col-lg-4 col-lg-offset-1">

                <h3><label>Modules Used</label></h3>

                <div class="row">
                    <div class="col-md-6">
                        <div class="galleryInputGroup">
                            <div class="galleryInputStripe">
                        <input type="checkbox" name="modules" value="ckan" checked="checked" id="galleryModulesCkan">
                                <label for="galleryModulesCkan">CKAN</label></div>

                            <div class="galleryInputStripe">
                                <input type="checkbox" name="modules" value="census" checked="checked"
                                       id="galleryModulesCensus">
                                <label for="galleryModulesCensus">Census</label></div>

                            <div class="galleryInputStripe">
                        <input type="checkbox" name="modules" value="eia" checked="checked" id="galleryModulesEIA">
                        <label for="galleryModulesEIA">EIA</label>
                            </div>
                        </div><!-- end galleryInputGroup -->
                    </div>
                    <div class="col-md-6">
                        <div class="galleryInputGroup">
                            <div class="galleryInputStripe">
                        <input type="checkbox" name="modules" value="fema" checked="checked" id="galleryModulesFEMA">
                                <label for="galleryModulesFEMA">FEMA</label></div>

                            <div class="galleryInputStripe"><input type="checkbox" name="modules" value="usda"
                                                                   checked="checked"
                               id="galleryModulesFarmersMarket">
                                <label for="galleryModulesFarmersMarket">Farmer's Market</label></div>

                            <div class="galleryInputStripe"><input type="checkbox" name="modules" value="socrata"
                                                                   checked="checked"
                               id="galleryModulesSocrata">
                        <label for="galleryModulesSocrata">Socrata</label>
                            </div>
                        </div><!-- end galleryInputGroup -->
                    </div>
                </div>


            </div>
            <div class="col-lg-2 col-lg-offset-1">
                <h3><label for="gallerySort">Sort By</label></h3>
                <select class="form-control" id="gallerySort">
                    <option value="name">Name A-Z</option>
                    <option value="module">Module A-Z</option>
                </select>
            </div>
        </div><!-- end row-->


    </div>
</div>


<!-- gallery -->
<div class="row">
    <div class="col-md-12">
        <div id="galleryItems" class="galleryItemsGridView">

            {% for c in site.data.gallery %}
            {% assign id = c[0] %}
            {% include_relative gallery-item.html id=id %}
            {% endfor %}

        </div><!-- end galleryItems -->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Submit to the Gallery</h2>

        <div class="row">
            <div class="col-md-6">
                <p>Have a new module to contribute? Want to have your project included in the gallery? Find a really
                    interesting implementation of the CitySDK? Submit an issue to the project!</p>
            </div>
            <div class="col-md-6">
                <a href="https://github.com/uscensusbureau/citysdk/issues/new" class="btn btn-primary btn-lg">Submit an
                    Request</a>
            </div>
        </div>
    </div>
</div>
</div>


<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
<script>
    jQuery(window).ready(function ($) {


        // Isotope Grid
        $('#galleryItems').imagesLoaded(function () {
            console.log("Moo");
            $('#galleryItems').isotope({
                itemSelector: '.galleryItem',
                resizable: false, // disable normal resizing
                getSortData: {
                    name: function ($item) {
                        return jQuery($item).find('.panel .panel-heading h3').text();
                    },
                    module: function ($item) {
                        return jQuery($item).find('.panel .panel-footer a').text();
                    }
                },
                sortBy: "name",
                masonry: {
                    columnWidth: 380
                }
            });

        });


        // Form Change Functions

        function updateGalleryFilter() {
            var selectedModules = [];
            var selectedProjects = [];

            jQuery('input[name="modules"]:checked').each(function (e) {
                selectedModules.push(jQuery(this).val());
            });
            jQuery('input[name="projects"]:checked').each(function (index, value) {
                selectedProjects.push(jQuery(this).val());
            });

            var thisElementProjects = [];
            var thisElementModules = [];
            jQuery('.galleryItem').each(function (index, value) {
                jQuery(this).removeClass("galleryShowThisItem");
                var showProject = false;
                var showModule = false;
                thisElementProjects = jQuery(this).data("project").replace(" ", "").split(",");
                thisElementModules = jQuery(this).data("module").replace(" ", "").split(",");

                jQuery(selectedModules).each(function (index, value) {
                    if (thisElementModules.indexOf(value) > -1) {
                        showModule = true;
                    }
                });
                jQuery(selectedProjects).each(function (index, value) {
                    if (thisElementProjects.indexOf(value) > -1) {
                        showProject = true;
                    }
                });
                if (showProject == true && showModule == true) {
                    jQuery(this).addClass("galleryShowThisItem");
                }
                $('#galleryItems').isotope({
                    filter: '.galleryShowThisItem'
                });
            });

        }

        jQuery('input[name="modules"]').on("click", updateGalleryFilter);
        jQuery('input[name="projects"]').on("click", updateGalleryFilter);

        jQuery('#gallerySort').on("change", function () {
            $('#galleryItems').isotope({sortBy: jQuery(this).val()});
        });

    });
</script>