{:source-paths ["src"]
 :dependencies [[proto-repl "0.3.1"]
                [org.clojure/core.async "0.4.474"]
                [cljs-http "0.1.45"]
                [cljs-ajax "0.7.3"]
                [com.cognitect/transit-cljs "0.8.256"]
                [binaryage/oops "0.6.2"]
                [defun "0.3.0-RC1"]]
 :nrepl {:port 3333}
 :builds
 {:lib {:target     :node-library
        :output-dir "public/node"
        :output-to "public/node/main.js"
        :compiler-options {:pretty-print true}
        :exports {:main main.core/node}}}}
