{:source-paths ["src"]
 :dependencies [[org.clojure/core.async "0.4.474"]
                [cljs-ajax "0.7.4"]
                [funcool/cuerdas "2.0.5"]
                [com.cognitect/transit-cljs "0.8.256"]
                [binaryage/oops "0.6.2"]
                [defun "0.3.0-RC1"]
                [jamesmacaulay/cljs-promises "0.1.0"]
                [com.rpl/specter "1.1.2"]
                [frankiesardo/linked "1.3.0"]
                [datascript "0.16.6"]]
 :nrepl        {:port 3333}
 :builds       {:lib    {:target           :node-library
                         :output-dir       "public/node"
                         :output-to        "public/node/main.js"
                         :compiler-options {:pretty-print true}
                         :exports          {:main main.core/node}}}}
                ;:census {:target           :node-library
                ;         :output-to        "out/census.js"
                ;         ;:entries          [census.test.core]
                ;         :compiler-options {:optimizations :advanced}
                ;         ;:pretty-print true}
                ;         :exports-var      census.core/census}}}