{:source-paths ["src"]
 :dependencies [[org.clojure/core.async "0.4.474"]
                [cljs-ajax "0.7.4"]
                [funcool/cuerdas "2.0.5"]
                [binaryage/oops "0.6.3"]
                [defun "0.3.0-RC1"]
                [jamesmacaulay/cljs-promises "0.1.0"]
                [com.rpl/specter "1.1.3-SNAPSHOT"]
                [frankiesardo/linked "1.3.0"]
                [net.cgrand/xforms "0.18.2"]]
 :nrepl        {:port 3333}
 :builds
               {:lib    {:target           :node-library
                         :output-dir       "public/census"
                         :output-to        "public/census/census.js"
                         :compiler-options {:optimizations :advanced}
                         :exports-var      census.core/census}}}
                ;:SDK    {:target           :node-library
                ;         :output-dir       "public/citySDK"
                ;         :output-to        "public/citySDK/citySDK.js"
                ;         :compiler-options {:optimizations :advanced}
                ;         ;:exports-fn       census.core/citySDK}
                ;         :exports          {:citySDK census.core/census
                ;                            :stats   census.statsAPI.core/censusStatsJSON
                ;                            :geojson census.geoAPI.core/getCensusGeoJSON}}
                ;:worker {:target           :browser
                ;         :output-dir       "public/worker"
                ;         :asset-path       "/worker"
                ;         :modules         {:census {:entries [census.core]}
                ;                           :worker {:entries [worker.core]
                ;                                    :depends-on #{:census}
                ;                                    :web-worker true}}}}}