.completion-bar {
  @include clearfix;
  bottom: 0;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  z-index: 1000;

  li {
    @include transition(width 0.2s ease);
    float: left;
    height: 4px;
    margin: 0;
    width: 0%;

    &.complete {
      width: 33.33%;
    }
  }

  .data {
    background-color: $color-primary;
  }

  .demographic {
    background-color: $color-yellow;
  }

  .geographic {
    background-color: lighten($color-green, 5);
  }
}

.dashboard-header {

  p {
    margin: 0;
  }
}

.disable-menu {
  opacity: 0.25;
}

.pages-dashboard {

  .app-nav {
    display: none;
  }

  .drag-item {

    &.gu-transit {
      @include animation(scaleUp 0.3s ease);
      @include animation-fill-mode(forwards);
      background-color: $color-gray-light;
      border-bottom: 0;
      height: 150px;
      margin-bottom: 1.5em;
      width: 100%;

      &::after {
        color: rgba($color-black, 0.75);
        content: "\f067";
        display: block;
        font-family: FontAwesome;
        font-size: 3em;
        font-style: normal;
        font-weight: normal;
        height: 250px;
        line-height: 100px;
        text-align: center;
        vertical-align: center;
        width: 100%;
      }
    }
  }

  .main-content {
    margin-left: 200px;

    h1 {
      margin-top: 0;
    }

    .usa-grid {
      margin-left: 0;
    }
  }

  .widget-container {
    min-height: 1000px;

    &.gu-transit {
      background-color: $color-gray;
      height: 400px !important;
    }

    .widget {
      background-color: transparent;
      border-bottom: 0;
      box-shadow: none;
      margin-bottom: 1.5em;
      padding: 4em 0 0.75em;
      width: 100%;
    }
  }
}

.widget-attributes {
  @include clearfix;
  background-color: transparent;
  margin: 0;
  position: relative;
  width: 12.5%;

  li {
    margin: 0;
    min-height: 60px;
    position: relative;

    &.ex-moved {
      text-align: left;
    }

    &.ex-over {
      background-color: darken($color-blue-light, 10);

      li {
        display: none;
      }
    }

    li {
      text-align: center;
      width: 100%;
    }
  }

  .data-drop {

    &::after {
      content: "\f1c0";
    }

    .drag-item {
      background-color: $color-primary;
    }
  }

  .demographic-drop {

    &::after {
      content: "\f0c0";
    }

    .drag-item {
      background-color: darken($color-yellow, 7);
      border-bottom: 0;
    }
  }

  .drag-item {
    border-bottom: 0;
    color: $color-white;
    font-size: 1em;
    font-weight: bold;
    min-height: 60px;
    padding: 1em 0.5em;
  }

  .drop {
    @include transform(translateX(0));
    @include transition(all 0.2s ease);
    background-color: darken($color-gray, 10);
    height: 60px;
    text-align: center;
    width: 100%;

    &::after {
      color: rgba($color-white, 0.5);
      display: block;
      font-family: FontAwesome;
      font-size: 1em;
      font-style: normal;
      font-weight: normal;
      line-height: 60px;
      padding-left: 1em;
      text-align: left;
      vertical-align: center;
      width: 100%;
    }
  }

  .geographic-drop {

    &::after {
      content: "\f041";
    }

    .drag-item {
      background-color: lighten($color-green, 5);
    }
  }
}

.widget-creation {

  .data-drop {

    &.droppable {
      background-color: darken($color-primary, 5);
    }
  }

  .demographic-drop {

    &.droppable {
      background-color: darken($color-yellow, 12);
    }
  }

  .drop {

    &.cartridge-full {
      @include transform(translateX(10%));

      &::after {
        display: none;
      }

      &.droppable {
        @include transform(translateX(0));
      }
    }

    &.droppable {
      @include transform(translateX(0));
    }
  }

  .geographic-drop {

    &.droppable {
      background-color: $color-green;
    }
  }
}

.widget-content {
  @extend %card;
  @include transition(width 0.25s ease);
  bottom: 0;
  padding: 0.5em 1em;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  h3 {
    color: lighten($color-gray, 20);
    font-size: 1em;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
}

.closed {

  .drop {

    &.cartridge-full {
      @include transform(translateX(5%));
    }
  }

  .widget-content {
    width: 98%;
  }
}

.initialized {

  .widget-content {
    width: 90%;
  }
}

.open-widget-attributes {

  .closed {

    &.widget-creation {

      .widget-content {
        width: 97%;
      }
    }
  }

  .widget-creation {

    .drop {
      @include transform(translateX(5%));
    }

    .widget-content {
      width: 90%;
    }
  }
}

.widget-edit {
  font-size: 1.1em;
  position: absolute;
  right: 0;
  top: 0;
}

.widget-menu {
  background-color: $color-white;
  border-radius: 50%;
  display: inline-block;
  font-size: 0.9em;
  height: 30px;
  left: -15px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 15px;
  vertical-align: center;
  width: 30px;
}

.widget-remove {
  cursor: pointer;
  padding: 0.5em 0.75em;
}

input {

  &.widget-title {
    border: 0;
    font-size: 1.5em;
    max-width: 300px;
    padding: 0;

    &:focus {
      box-shadow: none;
    }

    &.editing {
      border-bottom: 1px dotted $color-gray-light;
    }
  }
}
