.pages-developers {

  header {

    h1 {
      margin: 0 0 0.25em;
    }

    p {
      color: $color-gray;
      margin: 0;
    }
  }

  .col-lg {
    @include span-columns(6 of 8);
    margin-right: 0;
    padding-bottom: 4em;

    h1 {
      line-height: 1em;
    }
  }

  .col-sm {
    @include span-columns(2 of 8);
    margin-top: 2.3em;
  }

  .parent-item {
    position: relative;

    &::after {
      content: "\f107";
      display: inline-block;
      font-family: FontAwesome;
      position: absolute;
      right: 1em;
      top: 0.4em;
    }
  }
}
