.topics-gender {

  ol {
    display: block;
    list-style-type: decimal;
    padding-left: 1em;

    li {
      display: list-item;
    }
  }

  section {
    margin-bottom: 2em;
  }

  .bottom-states {

    .dollar {
      color: $color-secondary-dark;
    }
  }

  .chart-widget {
    margin-bottom: 2em;
  }

  .compare-national {

    #region-selector {
      display: none;
    }
  }

  .map-chart {
    .chart {
      margin: 0 auto;
      max-width: 800px;
    }
  }

  .navigation-tree {
    color: $color-gray;
    font-size: 0.95em;
    font-weight: bold;

    a {
      color: $color-primary;
      text-decoration: none;

      &:hover {
        color: $color-primary-darker;
      }
    }
  }

  .page-header {

    h1 {
      margin: 0 0 0.25em;
    }
  }

  .perspectives {
    display: none;
  }

  .state-data-list {

    .col {
      @include span-columns(6);
    }

    .dollar {
      font-weight: bold;
      position: absolute;
      right: 0;
      top: 0;
    }

    .percentile-selector {
      margin-bottom: 1.5em;
    }

    .widget {
      @include clearfix;
    }
  }

  .state-list-item {
    color: $color-gray-dark;
    font-size: 1.1em;
    margin: 0;
    position: relative;
  }

  .top-states {

    .dollar {
      color: $color-primary;
    }
  }

  .widget {

    h3 {
      color: lighten($color-gray-dark, 10);
      margin-top: 0;
    }
  }
}
