.pages-home {
  position: relative;

  .app-links {

    a {

      &:hover {
        background-color: rgba($color-primary-darkest, 0.65);
      }
    }
  }

  .app-nav {
    background-color: transparent;
    color: $color-white;
    left: 0;
    position: absolute;
    right: 0;
    top: 28px;
    z-index: 1000;
  }

  .calls-to-action {

    a {
      margin: 0;
    }

    li {
      display: inline-block;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .disclaimer {
    background-color: rgba(darken($color-primary, 30), 0.65);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
  }

  .feature-list {
    @include clearfix;
    background-color: $color-gray-extra-light;
    margin: 3em 0 0;

    figure {
      margin: 0 auto;
      max-width: 8em;
    }

    h2 {
      font-size: 1.2em;
      margin-top: 0;
    }

    li {
      border-left: 1px solid darken($color-gray-extra-light, 10);
      float: left;
      margin: 0;
      padding: 3em 1em;
      text-align: center;
      width: 33.3333%;
    }

    p {
      color: lighten($color-gray, 10);
    }
  }

  .features {
    background-color: $color-white;
    padding-top: 4em;

    h1 {
      font-size: 1.75em;
      font-weight: normal;
      margin: 0;
    }

    header {
      margin: 0 auto;
      max-width: 45em;
      text-align: center;
    }
  }

  .features-description {
    color: $color-gray;
    font-size: 1.1em;
  }

  .row {
    @include clearfix;
  }

  .usa-hero {
    background-color: $color-primary-darkest;
    color: $color-white;
    height: 550px;
    overflow: hidden;
    position: relative;
    text-align: center;

    h1 {
      color: $color-white;
      font-family: $font-caviar;
      font-size: 2.4em;
      font-weight: 500;
      margin: 0;
    }

    p {
      font-size: 1.2em;
      margin: 0.5em 0 1em;
    }

    strong {
      font-size: 2em;
      line-height: 1.1em;
      text-transform: uppercase;
    }

    video {
      @include transform(translateX(-50%) translateY(-50%));
      height: auto;
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      opacity: 0.2;
      position: absolute;
      top: 50%;
      width: auto;
    }

    .content-container {
      left: 0;
      position: absolute;
      right: 0;
      top: 9.5em;
    }

    .usa-button {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px darken($color-yellow, 10);
      color: $color-white;
      font-weight: bold;

      &:hover {
        box-shadow: inset 0 0 0 2px $color-white;
        color: $color-white;
      }
    }
  }

  .powered-by {
    text-align: center;

    a {
      display: inline-block;
    }

    h2 {
      font-size: 1.3em;
      font-weight: normal;
    }

    img {
      width: 100%;
    }

    li {
      display: inline-block;
      vertical-align: top;
      width: 100px;
    }

    ul {
      width: 100%;
    }
  }

  .preposition {
    margin: 0 0.5em;
  }
}
