<table class="location_coords table table-striped">
    <caption>Some common co-ordinates:</caption>
    <tr>
        <th>Name</th>
        <th>Lat (N)</th>
        <th>Lng (E)</th>
    </tr>
    <tr onclick="loadCoords(38.9047,-77.0164)">
        <td>Washington DC</td>
        <td>38.9047</td>
        <td>-77.0164</td>
    </tr>
    <tr onclick="loadCoords(47.6097,-122.3331)">
        <td>Seattle</td>
        <td>47.6097</td>
        <td>-122.3331</td>
    </tr>
    <tr onclick="loadCoords(21.3000,-157.8167)">
        <td>Honolulu</td>
        <td>21.3000</td>
        <td>-157.8167</td>
    </tr>
    <tr onclick="loadCoords(25.7753,-80.2089)">
        <td>Miami</td>
        <td>25.7753</td>
        <td>-80.2089</td>
    </tr>
    <tr onclick="loadCoords(29.7604,-95.3698)">
        <td>Houston</td>
        <td>29.7604</td>
        <td>-95.3698</td>
    </tr>
</table>