<div class="dropdown">
  <a href="#" class="btn dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Developers</a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{{ site.baseurl}}/developers/gettingstarted.html">Getting Started</a>
    <a class="dropdown-item" href="{{ site.baseurl }}/developers/queryBuilder.html">Interactive Query Builder</a>
    <a class="dropdown-item" href="{{ site.baseurl }}/developers/aliases.html">Census Module Alias &amp; Variable List</a>
    <a class="dropdown-item" href="{{ site.baseurl }}/developers/commonRequests.html">Census Module Common Requests</a>
    <a class="dropdown-item" href="{{ site.baseurl }}/developers/usingMultipleModules.html">Using Multiple Modules</a>
  </div>
</div>
