<li>
  <a href="{{ site.baseurl}}/developers/gettingstarted.html">Getting Started</a>
</li>
<li>
  <a href="{{ site.baseurl }}/developers/queryBuilder.html">Interactive Query Builder</a>
</li>
<li>
  <a href="{{ site.baseurl }}/developers/aliases.html">Census Module Alias &amp; Variable List</a>
</li>
<li>
  <a href="{{ site.baseurl }}/developers/commonRequests.html">Census Module Common Requests</a>
</li>
<li>
  <a href="{{ site.baseurl }}/developers/usingMultipleModules.html">Using Multiple Modules</a>
</li>
