<li><a href="{{ site.baseurl }}/examples-v2/#/income-and-population">
  Maryland Income and Population with Mapbox GL
</a></li>
<li><a href="{{ site.baseurl }}/examples/commuteQuery/">
  Using Sublevels and Normalized Aliases
</a></li>
<li><a href="{{ site.baseurl }}/examples/geoRequest/">
  GeoRequests and Supplemental Requests
</a></li>
<!--<li><a href="{{ site.baseurl }}/examples/femaExample/">-->
<!--FEMA Module - Disaster Declaration Summaries-->
<!--</a></li>-->
<li><a href="{{ site.baseurl }}/examples/leafletNYC/">
  NYC Boroughs using Leaflet JS
</a></li>
<li><a href="{{ site.baseurl }}/examples/containerGeometry/">
  GeoRequest with Arbitrary Boundaries
</a></li>
<!--<li><a href="{{ site.baseurl }}/examples/socrataExample/">-->
<!--Chicago City Payroll using Socrata and SoQL-->
<!--</a></li>-->
<li><a href="{{ site.baseurl }}/apps/chicagoCAD/">
Chicago Crime and Demographics
</a></li>
<li><a href="{{ site.baseurl }}/examples/farmersMarket/">
  USDA Farmer's Markets
</a></li>
<!--<li><a href="{{ site.baseurl }}/examples/eiaBrowser/">-->
<!--Energy Information Administration (EIA) Module-->
<!--</a></li>-->
<li><a href="{{ site.baseurl }}/examples/arcGisHUD/">
  HUD's Opportunity Project Data via ArcGIS
</a></li>
<!--<li><a href="{{ site.baseurl }}/examples/permitDataCKAN/">-->
<!--BLDS Building Permit Data with CKAN-->
<!--</a></li>-->
