<div class="dropdown">
  <a href="#" class="btn dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Showcase</a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{{ site.baseurl }}/examples-v2/#/income-and-population">Maryland Income and Population with Mapbox GL</a>
    <a class="dropdown-item" href="{{ site.baseurl }}/examples/commuteQuery/">Using Sublevels and Normalized Aliases</a>
    <a class="dropdown-item" href="{{ site.baseurl }}/examples/geoRequest/">GeoRequests and Supplemental Requests</a>
    <a class="dropdown-item" href="{{ site.baseurl }}/examples/containerGeometry/">GeoRequest with Arbitrary Boundaries</a>
    <li><a href="{{ site.baseurl }}/apps/chicagoCAD/">Chicago Crime and Demographics</a></li>
    <a class="dropdown-item" href="{{ site.baseurl }}/examples/farmersMarket/">USDA Farmer's Markets</a>
    <a class="dropdown-item" href="{{ site.baseurl }}/examples/arcGisHUD/">HUD's Opportunity Project Data via ArcGIS</a>
  </div>
</div>
