<ul class="nav nav-sidebar">
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule.html"><small>Population and Income by Address</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule.html"><small>Using Zip Codes as your Request Location</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule.html"><small>Commute Query using Sublevels and Normalized Aliases</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule.html"><small>GeoRequests and Supplemental Requests</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule.html"><small>NYC Boroughs using Leaflet JS and Custom GeoJSON</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule.html"><small>GeoRequest with Arbitrary Boundaries</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/usingMultipleModules.html"><small>Pittsburgh Housing using Google Maps and ESRI</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule/queryBuilder.html"><small>Chicago City Payroll using Socrata and SoQL</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule/aliases.html"><small>Baltimore Crime and Demographics</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule/commonRequests.html"><small>Energy Information Agency Dataset Browser</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/creatingModules.html"><small>GeoRequest using Bing Maps</small></a></li>
</ul>
