<footer class="app-footer">
  <div class="usa-grid">
    <div class="col">
      <div class="commerce-footer">
        <h2>Commerce Links</h2>
        <ul class="commerce-links">
          <li><a href="http://www.osec.doc.gov/ofm/OFM_Publications.html">Agency Financial Report</a></li>
          <li><a href="http://www.commerce.gov/page/comment-policy">Comment Policy</a></li>
          <li><a href="http://www.commerce.gov/page/commerce-archive">Commerce Archive</a></li>
          <li><a href="http://www.osec.doc.gov/ocr/EEOPolicy.html">EEO Policy</a></li>
          <li><a href="http://www.osec.doc.gov/omo/FOIA/FOIAWEBSITE.htm">FOIA</a></li>
          <li><a href="http://www.usa.gov/gobiernousa/">GobiernoUSA.gov</a></li>
          <li><a href="http://www.osec.doc.gov/ofm/Improper_Payments.html">Improper Payments</a></li>
          <li><a href="http://ocio.os.doc.gov/ITPolicyandPrograms/Information_Quality/index.htm">Information Quality</a></li>
        </ul>
        <ul class="commerce-links">
          <li><a href="http://www.oig.doc.gov/">Inspector General</a></li>
          <li><a href="http://www.osec.doc.gov/ocr/nofear/nofear.htm">No FEAR Act</a></li>
          <li><a href="http://www.commerce.gov/page/department-commerce-plain-language">Plain Language</a></li>
          <li><a href="http://www.commerce.gov/page/privacy-policy">Privacy Policy</a></li>
          <li><a href="http://www.usa.gov/">USA.gov</a></li>
          <li><a href="http://www.oig.doc.gov/Pages/Hotline.aspx">Whistleblower Protection</a></li>
          <li><a href="http://www.whitehouse.gov/">WhiteHouse.gov</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-info col">
      <div class="app-logo">
        <h1>CitySDK</h1>
      </div>
      <div class="links"><a href="https://github.com/CommerceDataService/citysdk"><i class="fa fa-github"></i>GitHub</a></div>
      <div class="footer-logos-container">
        <ul class="footer-logos">
          <li class="commerce"><a href="https://www.commerce.gov/"><img alt="Deptartment of Commerce Logo" src="{{site.baseurl}}/static/img/logos/commerce-logo.png"></a></li>
          <li class="census"><a href="http://www.census.gov"><img alt="Census Bureau Logo" src="{{site.baseurl}}/static/img/logos/census-logo.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
