<footer class="app-footer">
  <div class="usa-grid">
    <div class="col">
      <div class="commerce-footer">
        <ul class="commerce-links">
          <li><a href="https://www.commerce.gov/dataservice/">Commerce Data Service</a></li>
          <li><a href="https://www.commerce.gov/datausability/">Commerce Data Usability Project</a></li>
          <li><a href="https://www.census.gov/developers/">Census Developers Portal</a></li>
          <li><a href="https://midaas.commerce.gov/">MIDAAS</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-info col">
      <div class="app-logo">
        <h1>CitySDK</h1>
      </div>
      <div class="links"><a href="https://github.com/CommerceDataService/citysdk"><i class="fa fa-github"></i>GitHub</a></div>
      <div class="footer-logos-container">
        <ul class="footer-logos">
          <li class="commerce"><a href="https://www.commerce.gov/"><img alt="Deptartment of Commerce Logo" src="{{site.baseurl}}/static/img/logos/commerce-logo.png"></a></li>
          <li class="census"><a href="http://www.census.gov"><img alt="Census Bureau Logo" src="{{site.baseurl}}/static/img/logos/census-logo.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
