        <div class="row">
            <div class="col-sm-12">
            <p style ="text-indent: 4mm;"><small>The US CitySDK has been created by the US Census Bureau in close collaboration with contributors in both the public and private sector.</small></p>  

            <p style ="text-indent: 4mm;"><small>As a work of the United States Government, source code released by the {{ page.organization-name }} is in the public
            domain by default within the United States.</small></p>

            <p style ="text-indent: 4mm;"><small><a href="{{ page.source-code-policy }}"><small>View our full source code policy</small></a> 
            <small>or </small>
                <a style="text-indent: 4mm;" href="mailto:{{ page.organization-email }}">
                    <small>Contact us via email</small>
                </a>
            <p style ="text-indent: 4mm;"><img src="{{ site.baseurl }}/static/img/censuslogo.jpg" style="height:100%"/></p>
            </div>
        </div>
