<ul class="nav nav-sidebar">
	<li><a href="{{ site.baseurl }}/gettingstarted.html">
		<small>Getting Started</small>
	</a></li>
	<li><a href="{{ site.baseurl }}/guides/censusModule.html">
		<small>How to Use the Census Module</small>
	</a></li>
	<li><a href="{{ site.baseurl }}/guides/usingMultipleModules.html">
		<small>Using Multiple Modules</small>
	</a></li>
	<li><a href="{{ site.baseurl }}/guides/censusModule/queryBuilder.html">
		<small>Interactive Query Builder</small>
	</a></li>
	<li><a href="{{ site.baseurl }}/guides/censusModule/aliases.html">
		<small>Census Module Alias List</small>
	</a></li>
	<li><a href="{{ site.baseurl }}/guides/censusModule/commonRequests.html">
		<small>Census Module Common Requests</small>
	</a></li>
	<li><a href="{{ site.baseurl }}/guides/creatingModules.html">
		<small>How to Create a New CitySDK Module</small>
	</a></li>
	<li><a href="{{ site.baseurl }}/whatsinthecensusapi.html">
		<small>What's in the Census API?</small>
	</a></li>
</ul>
