<ul class="nav nav-sidebar">
	<li><a href="http://uscensusbureau.github.io/citysdk/gettingstarted.html"><small>Getting Started</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule.html"><small>How to Use the Census Module</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/usingMultipleModules.html"><small>Using Multiple Modules</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule/queryBuilder.html"><small>Interactive Query Builder</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule/aliases.html"><small>Census Module Alias List</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule/commonRequests.html"><small>Census Module Common Requests</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/guides/creatingModules.html"><small>How to Create a New CitySDK Module</small></a></li>
	<li><a href="http://uscensusbureau.github.io/citysdk/whatsinthecensusapi.html"><small>What's in the Census API?</small></a></li>
</ul>
