<li>
  <a href="{{ site.baseurl }}/guides/modules.html">CitySDK Modules</a>
</li>
<li>
  <a href="{{ site.baseurl }}/gettingstarted.html">Getting Started</a>
</li>
<li>
  <a href="{{ site.baseurl }}/guides/censusModule.html">The Census Module</a>
</li>
<li>
  <a href="{{ site.baseurl }}/whatsinthecensusapi.html">What's in the Census API?</a>
</li>
<li>
  <a href="{{ site.baseurl }}/guides/censusModule/queryBuilder.html">Interactive Query Builder</a>
</li>
<li>
  <a href="{{ site.baseurl }}/guides/censusModule/aliases.html">Census Module Alias & Variable List</a>
</li>
<li>
  <a href="{{ site.baseurl }}/guides/censusModule/commonRequests.html">Census Module Common Requests</a>
</li>
<li>
  <a href="{{ site.baseurl }}/guides/usingMultipleModules.html">Using Multiple Modules</a>
</li>
<li>
  <a href="{{ site.baseurl }}/guides/creatingModules.html">How to Create a New CitySDK Module</a>
</li>
