<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand topnav" href="{{ site.baseurl }}">
            <img src="{{ site.baseurl }}/static/img/citysdk_horizontal_logo.png" style="height:100%"/>
        </a>
    </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" style="font-size: 14px;">
            <li><a href="{{ site.baseurl }}/guides.html" class="guides">Guides</a></li>
            <li><a href="{{ site.baseurl }}/examplecode.html" class="examplecode">Example Code</a></li>
            <li><a href="{{ site.baseurl }}/gallery.html" class="gallery">Gallery</a></li>
           <li><a href="{{ site.baseurl }}/news.html" class="news">News</a></li>
        </ul>
    </div>
</nav>
