			<div class="wrap">

			<h1><a href="{{ site.github.url }}" target="_blank"><span>City SDK</span></a></h1>
			<nav class="pull-right">
          	<a href="https://github.com/uscensusbureau/citysdk"><span class="hidden-xs"> View on GitHub </span><span class="octicon octicon-mark-github" aria-hidden="true"></span></a>
        	</nav>	
        	</div>

			<!-- Place this tag right after the last button or just before your close body tag. -->
			<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>