<div class="disclaimer">
  <div class="usa-grid"><span class="usa-disclaimer-official"><img alt="US flag signifying that this is a United States Federal Government website" src="{{site.baseurl}}/static/img/us_flag_small.png" class="usa-flag_icon">An unofficial website of the United States Government</span></span><span class="usa-disclaimer-stage">This site is currently in beta.<a href="https://18f.gsa.gov/dashboard/stages/#beta" target="_blank">Learn More.</a></span></div>
</div>
<nav class="container app-nav">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="sdk-logo"><a href="{{site.baseurl}}/"><img src="{{ site.baseurl }}/static/img/citysdk-logo-notext.png"/></a></div>
      <div class="logo">
        <div class="top"><a href="{{site.baseurl}}/">
            <h1 class="logotype">CITYSDK</h1></a>
          <div class="beta">Beta</div>
        </div>
        <div class="bottom data-service"><span style="color: #fff;">Commerce Data Service</span></div>
      </div>
    </div>
    <div class="app-links col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <ul class="row">
        <li class="col-xs-3">
          <div class="dropdown">
            <button class="btn" type="button"><a href="{{ site.baseurl }}/about">About</a></button>
          </div>
        </li>
        <li class="col-xs-3">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Developers
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              {% include devnavLinks.html%}
            </ul>
          </div>
        </li>
        <li class="col-xs-3">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Showcase
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              {% include examplesnavLinks.html%}
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
$('.dropdown-toggle').dropdown()
</script>
