
          <ul class="nav nav-sidebar">
            <li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule.html">How to Use the Census Module</a></li>
            <li><a href="http://uscensusbureau.github.io/citysdk/guides/usingMultipleModules.html">Using Multiple Modules</a></li>
            <li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule/queryBuilder.html">Interactive Query Builder</a></li>
            <li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule/aliases.html">Census Module Alias List</a></li>
            <li><a href="http://uscensusbureau.github.io/citysdk/guides/censusModule/commonRequests.html">Census Module Common Requests</a></li>
            <li><a href="http://uscensusbureau.github.io/citysdk/guides/creatingModules.html">How to Create a New CitySDK Module</a></li>
          </ul>
