
<h1 class="page-title"><a href="{{ site.baseurl }}/index.html">{{ page.organization-name }} </a></h1>
      <p class="intro">Toolbox for civic hackers to connect local and national public data {{ page.organization-name }}.</p>
    <nav>    
        <ul>
          <li><a href="{{ site.baseurl }}/index.html" class="overview">Overview</a></li>
          <li><a href="{{ site.baseurl }}/stories.html" class="userstories">User Stories</a></li>
          <li><a href="{{ site.baseurl }}/scrumboard.html" class="scrumboard">Scrum Board</a></li>
          <li><a href="{{ site.baseurl }}/guides.html" class="guides">Guides</a></li>
          <li><a href="{{ site.baseurl }}/challenge.html" class="challenge">Contribute</a></li>
        </ul>
    </nav>
