<ul class="usa-sidenav-list">
    <li class="parent-item"><a href="#">About CitySDK</a>
        <ul class="usa-sidenav-sub_list">
            <li><a href="#">CitySDK's Story</a></li>
            <li><a href="#">Awards &amp; Recognition</a></li>
            <li><a href="#">Case Studies</a></li>
        </ul>
    </li>
    <li class="parent-item"><a href="#">Developer's Guide</a>
        <ul class="usa-sidenav-sub_list">
            <li><a href="#">Getting Started</a></li>
            <li><a href="#">Query Builder</a></li>
            <li><a href="#">CitySDK Modules</a></li>
            <li><a href="#">Census Module Common Requests</a></li>
            <li><a href="#">Using Multiple Modules</a></li>
        </ul>
    </li>
    <li class="parent-item"><a href="#">Project Showcase</a>
        <ul class="usa-sidenav-sub_list">
          <li><a href="{{ site.baseurl }}/examples-v2/#/income-and-population">
            Maryland Income and Population with Mapbox GL
          </a></li>
          <li><a href="{{ site.baseurl }}/examples/commuteQuery/">
            Using Sublevels and Normalized Aliases
          </a></li>
          <li><a href="{{ site.baseurl }}/examples/geoRequest/">
            GeoRequests and Supplemental Requests
          </a></li>
          <li><a href="{{ site.baseurl }}/examples/leafletNYC/">
            NYC Boroughs using Leaflet JS
          </a></li>
          <li><a href="{{ site.baseurl }}/examples/containerGeometry/">
            GeoRequest with Arbitrary Boundaries
          </a></li>
          <li><a href="{{ site.baseurl }}/examples/farmersMarket/">
            USDA Farmer's Markets
          </a></li>
          <li><a href="{{ site.baseurl }}/examples/arcGisHUD/">
            HUD's Opportunity Project Data via ArcGIS
          </a></li>
        </ul>
    </li>
</ul>
