<ul class="usa-sidenav-list">
    <li class="parent-item"><a href="#">About CitySDK</a>
        <ul class="usa-sidenav-sub_list">
            <li><a href="#">CitySDK's Story</a></li>
            <li><a href="#">Awards &amp; Recognition</a></li>
            <li><a href="#">Case Studies</a></li>
        </ul>
    </li>
    <li class="parent-item"><a href="#">Developers' Guide</a>
        <ul class="usa-sidenav-sub_list">
            {% include devnavLinks.html %}
        </ul>
    </li>
    <li class="parent-item"><a href="#">Project Showcase</a>
        <ul class="usa-sidenav-sub_list">
            {% include examplesnavLinks.html %}
        </ul>
    </li>
</ul>
