@import "../_scss/vendor/font-awesome/font-awesome";
@import "../_scss/vendor/us-web-standards/all";
@import "google-fonts";

@import "style"
//* Custom Components *//

@import "../_scss/variables";

@import "../_scss/components/animations";
@import "../_scss/components/typography";
@import "../_scss/extends/card";
@import "../_scss/extends/slider";

//* Imported Styles *//
@import "../_scss/modules/all";
@import "../_scss/pages/all";
