.app-nav {
  background-color: $color-gray-dark;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.app-links {
  float: right;
  font-size: 0.87em;
  font-weight: bold;

  a {
    color: lighten($color-gray-light, 20);
    padding: 0.8em;

    &:focus {
      box-shadow: none;
    }

    &.inactive {
      color: $color-gray-light;
    }

    &:hover {
      background-color: darken($color-gray-dark, 5);
      color: $color-white;
      text-decoration: none;
    }
  }

  li {
    display: inline-block;
    margin-right: 1.25em;

    &::after {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      padding-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  ul {
    display: block;
    margin: 0;
  }
}

.beta {
  bottom: 0.4em;
  color: $color-gray-light;
  display: inline-block;
  font-size: 0.8em;
}

.commerce-logo {
  float: left;
  margin-right: 0.5em;
  width: 50px;

  img {
    width: 100%;
  }
}

.data-service {
  font-size: 0.85em;
  line-height: 0.9em;
}

.disclaimer {
  background-color: darken($color-gray-dark, 10);
  color: $color-white;
  font-size: 0.85em;
  padding: 0.35em 0;

  a {
    color: $color-white;
    font-weight: bold;
    margin-left: 0.5em;
  }

  img {
    margin-right: 0.5em;
  }
}

.logo {
  float: left;
  position: relative;
  width: 12em;

  a {
    display: inline-block;
    text-decoration: none;
  }
}

.logotype {
  color: $color-gray-lightest;
  font-size: 1.75em;
  line-height: 1em;
  margin: 0.05em 0 0;
}
