[
 "https://api.census.gov/data/2010/cbp?get=EMP,ESTAB,GEO_TTL,NAICS2007_TTL&for=us:*"
 "https://api.census.gov/data/2010/cbp?get=EMP,ESTAB,GEO_TTL,NAICS2007_TTL&for=us:00"
 "https://api.census.gov/data/2010/cbp?get=EMP,ESTAB,GEO_TTL,NAICS2007_TTL&for=state:*"
 "https://api.census.gov/data/2010/cbp?get=EMP,ESTAB,GEO_TTL,NAICS2007_TTL&for=state:01"
 "https://api.census.gov/data/2010/cbp?get=EMP,ESTAB,GEO_TTL,NAICS2007_TTL&for=county:*"
 "https://api.census.gov/data/2010/cbp?get=EMP,ESTAB,GEO_TTL,NAICS2007_TTL&for=county:*&in=state:*"
 "https://api.census.gov/data/2010/cbp?get=EMP,ESTAB,GEO_TTL,NAICS2007_TTL&for=county:013&in=state:02"
 "https://api.census.gov/data/2010/cbp?get=EMP,ESTAB,GEO_TTL,NAICS2007_TTL&for=metropolitan statistical area/micropolitan statistical area:*"
 "https://api.census.gov/data/2010/cbp?get=EMP,ESTAB,GEO_TTL,NAICS2007_TTL&for=metropolitan statistical area/micropolitan statistical area:10180"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=state:*"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=state:01"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=congressional district:*"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=congressional district:*&in=state:*"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=congressional district:01&in=state:01"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=county (or part):*&in=state:01&in=congressional district:01"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=county (or part):003&in=state:01&in=congressional district:01"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=tract (or part):*&in=state:01&in=congressional district:01&in=county (or part):003"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=tract (or part):010100&in=state:01&in=congressional district:01&in=county (or part):003"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=county subdivision (or part):*&in=state:01&in=congressional district:01&in=county (or part):003"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=county subdivision (or part):90207&in=state:01&in=congressional district:01&in=county (or part):003"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=place/remainder (or part):*&in=state:01&in=congressional district:01"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=place/remainder (or part):03004&in=state:01&in=congressional district:01"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=consolidated city (or part):*&in=state:09&in=congressional district:03"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=consolidated city (or part):47500&in=state:09&in=congressional district:03"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=place (or part):*&in=state:09&in=congressional district:03&in=consolidated city (or part):47500"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=place (or part):47515&in=state:09&in=congressional district:03&in=consolidated city (or part):47500"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=american indian area/alaska native area/hawaiian home land (or part):*&in=state:01&in=congressional district:01"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=american indian area/alaska native area/hawaiian home land (or part):2865&in=state:01&in=congressional district:01"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=american indian area/alaska native area (reservation or statistical entity only) (or part):*&in=state:01&in=congressional district:01&in=american indian area/alaska native area/hawaiian home land (or part):2865"
 "https://api.census.gov/data/2010/dec/cd113?get=H001001,NAME&for=american indian area/alaska native area (reservation or statistical entity only) (or part):R&in=state:01&in=congressional district:01&in=american indian area/alaska native area/hawaiian home land (or part):2865"]
