body {
    color: #ffffff
}
body {
    color: #EEEEEE
}
body {
    color: #BDBDBD
}
body {
    color: #757575
}
body {
    color: #424242
}
body {
    color: #2b2b2b
}
body {
    color: #212121
}
body {
    color: #000000
}

