<style>
  #map-content {
    height: 600px;
    padding: 0;
  }

  .mapboxgl-popup {
    max-height: 400px;
    max-width: 300px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px #616161;
    padding: 15px;
    border-radius: 3px;
  }

  .mapboxgl-popup .panel.panel-default {
    margin-bottom: 0;
  }
</style>
<div class="container">
  <h2>Maryland Income and Population with Mapbox GL</h2>

  <div class="panel panel-default">
    <loading-gif visible="incomePopCtrl.mapContentLoading" message="'Loading map content'"></loading-gif>
    <loading-error visible="incomePopCtrl.loadingError" message="'API error. Could not load map content.'"></loading-error>
    <div class="panel-body" id="map-content"></div>
  </div>

  <p>
    This examples uses City SDK and Mapbox GL to visualize the state of Maryland and its counties. The map is created
    using the GeoJSON data requested using the query below. Mapbox renders the map and polygons from the GeoJSON data.
  </p>
  <p>
    Click over a county to view its median income and population.
  </p>
</div>
<hr>
<div class="container">
  <h3>Query Editor</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <query-editor query="incomePopCtrl.query"></query-editor>
      <button type="button" class="btn btn-success" ng-click="incomePopCtrl.getData()"
              ng-disabled="!incomePopCtrl.queryEditorContentValid">SUBMIT REQUEST
      </button>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <h3>Example Code</h3>
  <code-viewer content="incomePopCtrl.exampleCode"></code-viewer>
</div>
