<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>CitySDK - {{ page.organization-name }}</title>
  {% include headscriptsAndCSS.html %}

</head>
<body class="pages-developers">
  {% include header.html %}
  <div class="container">
    <section class="main-content">
        <div class="row">
            <div class="col-md-3 hidden-sm hidden-xs">
            {% include sidenav.html %}
            </div>
            <div class="col-md-9 col-sm-12">
              {{ content }}
            </div>
        </div>
    </section>
  </div>
  {% include footer.html %}
<script type="text/javascript" src="{{ site.baseurl }}/static/js/expandables.js"></script>
{% include analytics.html %}
</body>
</html>
