---
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>API documentation - {{ page.organization-name }} Open Tech</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/static/css/bootstrap.min.css">
  <script src="{{ site.baseurl }}/static/js/jquery.js"></script>
  <script src="{{ site.baseurl }}/static/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--[if IE]>
  <link rel="stylesheet" href="{{ site.baseurl }}/static/css/for-ie-only.css">
  <![endif]-->
</head>
<body>

<div class="container">
	   <div class="row clearfix">
    		<div class="col-md-12 column">
          		{% include examplesheader.html %}

  			<div class="container-fluid">
  			      <div class="row">
    			        <div class="col-md-3 column">

                    <div class="row">
                        <div class="page-header">
                          <h1><small>Example Code</small></hl>
                        </div>
                    </div>    
    			         {% include examplesnav.html %}
  			           </div>
  			        
      			        <div class="col-md-9 column">
      			        {{ content }}
      			        </div> <!--wrap-->
  			      
        </div>
        <div class="col-md-12 column">
              <div class="page-header">
                          <h4><small>About</small></h4>
              </div>
              <div>
              {% include footer.html %}
              </div>
        </div>
		</div>
</div>



  <script src="{{ site.baseurl }}/static/js/docs.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/static/js/expandables.js"></script>
</body>
</html>
