<!doctype html>
<html>
<head>

    <title>CitySDK - {{ page.title }}</title>
    {% include headscriptsAndCSS.html %}

</head>
<body>


<div class="container">
    <div class="row clearfix">
        <div class="col-md-12">
            {% include header.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            {% include examplesnav.html %}
        </div>

        <div class="col-md-9 col-sm-12">
            <header class="page-header">
                <h1>{{ page.title }}</h1>
            </header>

            <ol class="breadcrumb">
                <li><a href="{{ site.baseurl }}/">CitySDK</a></li>
                <li><a href="{{ site.baseurl }}/examplecode.html">Examples</a></li>
                <li class="active">{{ page.title }}</li>
            </ol>

            <section>
                {{ content }}
            </section>
        </div> <!--col-md-9 column-->

    </div>
    <div class="row">
        <div class="col-md-12 column">
            <div class="page-header">
                <h4>
                    <small>About</small>
                </h4>
            </div>
            <div>
                {% include footer.html %}
            </div>
        </div>
    </div>
</div>

</div>

    <!-- <script src="{{ site.baseurl }}/static/js/docs.min.js"></script> --> <!-- Used for Bootstrap documentation site -->
    <script type="text/javascript" src="{{ site.baseurl }}/static/js/expandables.js"></script>
{% include analytics.html %}

</body>
</html>
